<div>
  <button class="btn btn-primary" >
    Load Remote Module

  </button>
  <button class="btn btn-success" >
    Load Remote Module

  </button>
  <button class="btn btn-danger" >
    Load Remote Module

  </button>


  <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer">
      <h4>Footer-Demo</h4>
    </div>
  </div>
  <h2> Host App is running</h2>
</div>



<router-outlet />
