<h1>
  Carts Feature
</h1>

<div class="row m-2">
  @for (item of productService?.productsCarts(); track item.id) {
  <div class="col-md-3">
    <div class="card border-primary h-100"  style="max-width: 20rem;">
      <img src="{{item.image}}" class="card-img-top" alt="..." style="aspect-ratio: 1;">
      <h4 class="card-title">Primary card title</h4>
      <div class="card-body">
        <h4 class="card-title">{{item.title}}</h4>
        <p class="card-text">{{item.description}}.</p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <p><b>Price: {{item.price| currency :'€'}}</b></p>
          </div>
          <div class="col-md-3">
            <button class="btn btn-danger" (click)="productService?.removeFromCart(item)">Remove from cart</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success" (click)="productService?.addToOrders(item)">Add to Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @empty {
  <div class="col-md-12">
    <h2  class="text-info" >No items in the cart</h2>
  </div>
  }


  <router-outlet></router-outlet>